<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="5">
    <test verbose="2" preserve-order="true" name="C:/Users/arisa/IdeaProjects/HomeWorkProjectPLabs/src/test/java">
        <classes>
            <class name="ru.pflb.education.MainTest">
                <methods>
                    <include name="testBinary"/>
                    <include name="testHex"/>
                    <include name="testBinaryToOctal"/>
                    <include name="testString"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>